/* 
	clearfix and other misc adjustments
 */

* {
	transition: all 1s;
}

body, html, h1 {
	margin: 0;
	padding: 0;
}

.n-sub {
	font-size: 50%;
	vertical-align: 30%;
}

/* 
	end of clearfix and other misc adjustments
 */

/* 
	start of navigation styling
 */

.navbar {
	border-radius: 0;
	margin: 0;
}

.navbar .container-fluid {
	padding: 10px 10px 10px 0;
	display: flex;
	justify-content: flex-end;
}

.navbar .container-fluid ul {
	border: 1px solid #ffffff;
}

.navbar .nav li a:hover {
	background: #eeeeee;
	color: #000000;
}

/* 
end of navigation styling
*/


/* 
	start of body styling
 */

.main-container {
	background-color: #eeeeee;
}

/* 
	end of body styling
*/


/* 
	start of styling showcase
*/
.n-heading {
	background-color: transparent;
	color: #009688;
	margin: 0;
	padding: 10px;
}

.jumbotron {
	box-shadow: 0 0 1px #000000;
}

/* 
	end of styling showcase
*/

/* 
	start of styling min content
*/

.n-container {
	width: 960px;
	margin: 0 auto; 
	text-align: justify;
}


.n-space {
	height: 2rem;
}

.n-actions {
	display: flex;
	justify-content: flex-end;
}

.n-actions .btn {
	margin-top: 2rem;
	margin-left: 1rem;
}

.n-login {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.n-btn-group {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

/* 
	end of styling main content
*/


/* 
	start of footer styling
*/

footer {
	height: 15rem;
	background: #444;
	display: flex;
	align-items: center;
}

footer p {
	color: #ffffff;
	text-align: center;
}

/* 
	end of footer styling
*/