/* get desired font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
292c2f - material gray

*/

* {
	padding: 0;
	margin: 0;
	font-family: 'Consolas', 'Verdana', 'Open Sans';
}

.fimg {
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	width: 32px;
	box-shadow: 0 2px 3px #000000;
	border-radius: 10px;
}

.nopad {
	padding: 0;
}

body {
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Open Sans';
}

.navbar-static-top {
	box-shadow: 0 0px 1px #f0ff0f;
}



.a {
	cursor: pointer;
}

.border-above {
	border-top: 1px solid #000000;
}

.auth {
	background-color: #FFFFFF;
}

.jumbotron {
	background-color: transparent;
}

.profile-picture img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 5px #000000;
}

.fimg img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.jumbotron h1 {
	color: #FFFFFF;
	font-size: 10rem;
	font-weight: 900;
	text-align: center;
	text-shadow: 0 0 4px #000000;
}

/* navigation styling */
.nav {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.nav i {
	font-size: 100%;
	transition: all .2s;
}



.nav nav ul li a {
	align-items: center;
	color: #FFFFFF;
	display: block;
	display: flex;
	height: 6rem;
	justify-content: center;
	margin-bottom: 1rem;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s;
	width: 300px;
}

.nav nav ul li a:hover {
	font-size: 190%;
}



.nav nav ul li a::before {
	background-color: red;
	bottom: 0;
	content: '';
	height: .1rem;
	left: 100%;
	position: absolute;
	transition: left .7s;
	width: 100%;
}

.nav nav ul li a:hover:before {
	left: 0%;
}

/* logo */


/* navbrand bar */
.navbar-brand * {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.navbar-brand i {
	font-size: 140%;
}

/* status part */
.create-post-area {
	height: 150px!important;
	border-radius: 0;
	border: 0px;
	resize: none;
}

.panel-footer {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.create-post-area:focus {
	outline: none;
	border: 0;
	box-shadow: 0 0 0 transparent;
}

/* this section contains user profile picture styling */

.profile-picture {
	background-color: #007177;
	border-radius: 100%;
	box-shadow: 0 0 5px #000000;
	display: inline-block;
	height: 128px;
	width: 128px;
	vertical-align: middle;
}

.btn-shadow {
	box-shadow: 1px 1px 5px #007177;
}

.profile-details {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	vertical-align: middle;
}

.box {
	border-radius: 1rem;
	border: 1px solid #007177;
	margin-bottom: 1rem;
	padding: 1rem;
}


/* user's new notification */
.new-notification {
	color: #ff0000;
}

/* branding styling */


/* message styling */
.m-display {
	border: 1px solid #a5a5a5;
	box-shadow: 0 1px 3px #a1a2a3;
	margin-top: 3rem;
	max-height: 350px;
	min-height: 350px;
	overflow-y: auto;
	padding: 1rem;
	width: 100%;
}

.m-display:hover {

}

.m-write {
	margin-top: 1rem;
}

.m-user {
	padding: 1rem;
	margin-right: 10rem;
}

.m-form input {
	padding: 1rem;
}

.m-form input:first-child {
	width: 50%;
	margin-top: 1rem;
}

.chat {
  width: 100%;
	display: block;
	clear: both;
}

.bubble {
	background-color: #F2F2F2;
	border-radius: 1rem;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
}

.bubble::before {
	-moz-transform: rotate( 29deg) skew( -35deg);
	-ms-transform: rotate( 29deg) skew( -35deg);
	-o-transform: rotate( 29deg) skew( -35deg);
	-webkit-transform: rotate( 29deg) skew( -35deg);
	background-color: #F2F2F2;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform: rotate( 29deg) skew( -35deg);
	width: 20px;
}

small {
	opacity: 0.5;
}

.me {
  float: left;
  margin: 5px 50% 5px 30px;
	clear: both;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
  left: -9px;
}

.you {
  float: right;
  margin: 5px 20px 5px 300px;
	clear: both;
}

.mar1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.pad1 {
	padding: 1rem;
}

.shadow {
	border: 1px solid #a5a5a5;
	box-shadow: 0 -3px 2px #007177;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
  right: -9px;
}


.mshadow {
	box-shadow: 0 2px 5px #007177;
}

.pad {
	padding: 1rem;
}

.bold {
	font-weight: bolder;
	font-size: 130%;
}

.nbr {
	border-radius: 0;
}

.pst {
	margin: 0;
}

.nf-post {
	height: 1%;
}

.post-comment {

}

.post-comment textarea {
	display: inline-block;
	resize: none;
	width: 100%;
}

.comment-display {

}

.comment-display p {
	margin-top: 2rem;
}

.remove-post:hover {
	cursor: pointer;
	color: #ff0000;
}

hr {
	margin-bottom: .92rem;
	margin-top: .9rem;
	height: 1px;
	background-color: #ffe1e1;
}

/*	update form 	*/
.update-form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.d-block {
	padding: .5rem;
}

.d-block span {
	border: 1px solid transparent;
	display: inline-block;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
	width: 100px;
}

.d-block span:hover {
	border: 1px solid #000000;
	font-size: 210%;
	font-weight: bolder;
	transition: all 1s;
	cursor: pointer;
}

.dropdown {
	min-height: 10px;
	height: 5rem;
}

.dropdown > a {
	padding: 0.85rem!important;
}

.home-post {
	box-shadow: 0 4px 5px rgba(0,0,0,0.5);
	transition: all .5s;
}

.home-post:hover {
	box-shadow: 0 4px 25px rgba(0,0,0,0.5);
}

.post_like {
	cursor: pointer;
}

.no-gutter-col {
	padding-left:0; 
	padding-right:0; 
}

.no-gutter-row {
	margin-left:0; 
	margin-right:0; 
}

.footer {
	background-color: rgba(34,34,34,0.10);
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	min-height: 150px;
	margin-top: 7rem;
}

.footer h3 {
	margin: 0;
	padding-top: 2rem;
}

.footer ul {
	list-style: none;
}

.footer ul li {
	display: inline-block;
}

.footer p {
	margin: 0;
}

.main-content {
	text-align: center;
}

.main-content img {
	height: 100%;
}

.main-content h1 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.psn-nav .navbar {
	background-color: rgba(34,34,34,0.30);
	border: 0;
}

.psn-nav .navbar a {
	color: #FFFFFF!important;
}

.psn-nav .navbar a:hover {
	color: #fcaffa!important;
}

.hid {
	display: none;
}

.report-form {
	margin-top: 1rem;
	height: 220px;
	overflow: hidden;
	transition: height 1s;
}

.form-hidden {
	height: 0px;
}

.report-form textarea {
	resize: none;
	height: 120px;
}