/* get desired font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
292c2f - material gray

*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans';
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5D4037;
}

.a {
	cursor: pointer;
}

.border-above {
	border-top: 1px solid #000000;
}

.auth {
	background-color: #FFFFFF;
}

.jumbotron {
	background-color: transparent;
}

.jumbotron h1 {
	font-size: 10rem;
	font-weight: 900;
	color: #FFFFFF;
	text-shadow: 0 0 4px #000000;
	text-align: center;
}

/* navigation styling */
.nav {
	box-sizing: border-box;
	width: 1px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.nav nav ul li {
	display: inline-block;
}

.nav nav ul li a {
	display: block;
	text-decoration: none;
	padding: 1rem;
	width: 300px;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	margin-bottom: 1rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.nav nav ul li a:hover {
	font-size: 190%;
}

.nav nav ul li a::before {
	content: '';
	height: .1rem;
	left: 100%;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: red;
	transition: left .7s;
}

.nav nav ul li a:hover:before {
	left: 0%;
}

/* logo */
.logo {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: 290px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	background-repeat: no-repeat;
	background-image: url('../images/logo.png');
}

/* navbrand bar */
.navbar-brand img {
	height: 50px;
}

/* status part */
.create-post-area {
	height: 150px!important;
	border-radius: 0;
	border: 0px;
	resize: none;
}

.panel-footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.create-post-area:focus {
	outline: none;
	border: 0;
	box-shadow: 0 0 0 transparent;
}

/* this section contains user profile picture styling */

.profile-picture {
	height: 128px;
	width: 128px;
	background-color: #007177;
	display: inline-block;
}

.profile-details {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.box {
	border: 1px solid #007177;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}


/* user's new notification */
.new-notification {
	color: #ff0000;
}

/* branding styling */


/* message styling */
.m-display {
	max-height: 350px;
	width: 100%;
	border: 1px solid #000000;
	overflow-y: auto;
	margin-top: 3rem;
	padding: 1rem;
}

.m-user {
	padding: 1rem;
	margin-right: 10rem;
}

.m-form input {
	padding: 1rem;
}

.m-form input:first-child {
	width: 50%;
	margin-top: 1rem;
}

.chat {
  width: 100%;
}

.bubble {
  background-color: #F2F2F2;
  border-radius: 1rem;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate( 29deg) skew( -35deg);
  -moz-transform: rotate( 29deg) skew( -35deg);
  -ms-transform: rotate( 29deg) skew( -35deg);
  -o-transform: rotate( 29deg) skew( -35deg);
  -webkit-transform: rotate( 29deg) skew( -35deg);
  width: 20px;
}

.me {
  float: left;
  margin: 5px 50% 5px 30px;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
  left: -9px;
}

.you {
  float: right;
  margin: 5px 20px 5px 300px;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
  right: -9px;
}
